<div [hidden]="!isLoaded">
  <agm-map 
    [latitude]="lat" 
    [longitude]="lng">

    <agm-marker 
      *ngFor="let lib of libraries" 
      [latitude]="lib.latitude" 
      [longitude]="lib.longitude">
      <agm-info-window>
        <app-library-info [library]="lib"></app-library-info>
      </agm-info-window>
    </agm-marker>
  </agm-map>

  <div class="table-container" *ngIf="isLoaded">
    <app-library-list [libraries]="libraries" (onClick)="onOpenLibrary($event)"></app-library-list>
  </div>

  <div class="info-container" *ngIf="selectedLibrary">
    <app-library-info [library]="selectedLibrary"></app-library-info>
  </div>
</div>