<mat-table [dataSource]="dataSource" matSort> 
  <ng-container matColumnDef="library">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Libraries</mat-header-cell>
    <mat-cell *matCellDef="let library" (click)="onClick.emit(library)">
      <mat-icon style="color: cornflowerblue;">local_library</mat-icon>
      &nbsp;{{ library.library }}
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let rows; columns: displayedColumns;"></mat-row>
</mat-table>

<mat-paginator #paginator
[length]="libraries.length"
[pageIndex]="0"
[pageSize]="10"
[pageSizeOptions]="[10,15,30,50]">
</mat-paginator>